
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
    width: 55px;
    height: 50px;
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}
.topnav {
    background-color: #1F2937;
    overflow: hidden;
    list-style: none;
    display: flex;
    padding-bottom: 20px;
    padding-top: 0;
    

}
.topnav a {
    color: #E5E7EB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: left;
    font-size: 17px;
}

.part-1 {
    background-color: #1F2937;
    padding: 150px 100px;
    padding-top: 0%;
}
.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.button {
    background-color: #3882F6;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    border: none;
    font-size: 17px;
     
}
.picture {
    float: right; 
    margin-left: 20px; /* Adds space between the image and the text on the left */
    width: 350x; /* Sets the width to 400 pixels */
    height: 250px;
    padding-top: 20px;
    padding-bottom: 10px;
}



/*-----------2nd part------------ */

.part-2 {
    background-color: #F9FAF8;
    flex: 1;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    
}
.heading {
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    padding: 30px 20px;
}
.full-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex: 1;
    margin: 10px;
}
.container {
    padding: 0 35px 0 35px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 200px;
    align-items: center;
}
.box {
    width: 170px; 
    height: 170px; 
    padding-bottom: 5px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    align-items: center;
    display: flex;
    margin-bottom: 5px
}



/*-----------3rd part------------ */

.part-3 {
    background-color: #E5E7EB;
    padding: 120px;
    display: flex;
    flex-direction: column;
}
.paragraph {
    font-size: 36px;
    font-weight: 300;
    padding-left: 40px;
    padding-right: 40px;
    font-style: italic;
}
footer {
    padding-left: 550px;
    padding-top: 12px;
}
footer cite {
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
}


/*-----------4th part------------ */


.part-4 {
    background-color: #fff;
    padding: 70px;
    margin: 10px;
    align-items: center;
}
.color-box {
    background-color: #3882F6;
    padding: 50px 100px 50px 100px;
    text-align: left;
    border-radius: 15px;
    margin-right: 50px;
    color:#fff;
    margin-left: 100px;
    margin-right: 85px;
}
.color-box h3 {
    font-size: 25px;
}
.button-2 {
    float: right; 
    border: 1px solid #ccc;
    padding: 8px 23px 8px 20px;
    background-color: #3882F6;
    margin: 15px;
    border-color: #fff;
    border-radius: 9px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    margin-left: 50px;
    
}


/*-----------5th part------------ */

.footer {
  background-color: #1F2937;
  color: white;
  text-align: center;
  padding: 25px;
  color: #fff;
  font-size: 17px;
}

